#weibo_connect:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
#weibo_connect li {
  background: none;
  cursor: pointer;
  display: block;
  float: left;
  margin: 6px 6px 0 0px;
  padding: 0;
}
.form-item p.tit-tips {
  background-color: #fff8be;
  border: 1px solid #ffc045;
  color: #666;
  font-size: 12px !important;
  line-height: 1 !important;
  margin-bottom: 24px;
  padding: 3px 10px !important;
  text-indent: 0 !important;
  width: 90%;
}
.orange1 {
  color: #ff5a00;
}
.gray1 {
  color: #3e3e3e;
}
.form-item p.weibo_account {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 24px;
  padding: 0 0 12px !important;
  text-indent: 0 !important;
}
.form-item p.weibo_account img {
  margin-right: 5px;
  vertical-align: middle;
}
